.reveal .slides section {
  .definition {
    &__truth {
      display: block;
      font-size: 3em;
      font-weight: 800;
      margin-bottom: 1em;
    }
    &__link {
      font-size: 1em;
      font-weight: 500;
    }
  }
}
