.reveal .slides section {
  .definition {
    &__truth {
      display: block;
      font-size: 3em;
      font-weight: 800;
      margin-bottom: 1em;
    }
    &__link {
      font-size: 1em;
      font-weight: 500;
    }
  }

  &[data-background].speaker-slide img[alt*='badge'] {
    top: 800px;
  }

  .big-size {
    font-size: 3.77em;
  }
  .center {
    text-align: center;
  }

  .table-center {
    position: absolute;
    top: 25%;
    margin: auto;
  }
}

.reveal .slides section.with-code pre.big-code:not(.literal) code,
.reveal .slides section.with-code-dark pre.big-code:not(.literal) code,
.reveal .slides section.with-code-bg-dark pre.big-code:not(.literal) code {
  line-height: 1.8em; // 2.1em in the sfeir-school-theme
}
